/* pages/ConnectedDevice/ConnectedDevice.wxss */
page {
  background-color: #f8f8f8;
  // background-color: red;
  padding: 0rpx;
  width: 100%;
  height: 100%;
}
@main-color: #1989fa;


.container {
  background-color: rgb(231, 231, 231);
  padding: 0rpx;
  // background-color: red;
  align-items: center;

  .scroll {
    width: 100%;
    height: auto;
    // background-color: red;
  }

  //添加设备的按钮
  .addItem {
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100px;
    padding: 3px 8px;

    .content {
      background-color: white;
      flex: 1;
      width: 100%;
      // background-color: orange;
      border-radius: 15px;
      border: 1px solid rgba(255, 165, 0, 0.5);
      display: flex;
      flex-direction: column;
      align-items: center;

      .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 150px;
        height: 50px;
        margin-top: 25px;
        position: relative;

        .icon {
          font-size: 18px;
          margin-left: 35px;
        }

        .text {
          margin-left: 10px;
          font-size: 16px;
          color: @main-color;
        }
      }
    }

  }

  //展示设备的cell
  .showPencilItem {
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100px;
    padding: 3px 8px;
    position: relative;

    .content {

      background-color: white;
      flex: 1;

      // background-color: orange;
      border-radius: 15px;
      border: 1px solid rgba(0, 0, 255, 0.5);
      display: flex;
      flex-direction: column;
      padding: 10px 20px;
      align-items: left;

      .pen-icon {
        margin-right: 10px;
        color: #1989fa;
        font-size: 20px;
        margin-left: 5px;
        // background-color: red;
        // margin-top: 5rpx;
      }

      .pen-name {
        font-size: 16px;


      }

      .refresh-btn {
        margin-left: 8px;

        padding: 8x;
        font-size: 18px;
      }

      .pen-connect-state-box {

        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        right: 15px;
        top: 17.5px;

        .text {
          font-size: 16px;
          margin-right: 7.5px;
          line-height: 20px;

          // background-color: red;
        }

        .switch {
          // background-color: red;
          padding: 0;
          margin: 0;
          margin-bottom: 0;

        }

      }

      .pen-sydl-box {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;

        //剩余电量
        .pen-sydl-state {
          // background-image: url('../../images/dl.png');

          width: 25px;
          height: 25px;
          // background-color: red;
        }
        .pen-sydl-text {
          flex: 1;
          margin-left: 10px;
          font-size: 14px;
          line-height: 25px;
          height: 25px;

          color: rgb(81, 81, 81);
        }

        .isConnect-tag{
          border: 1.2px solid  @main-color;
          color:  @main-color;
          padding: 1px 2px;
          font-size: 13px;
          text-align: center;

        }
      }

    }
  }

  &:first-child {
    padding-top: 3.5px;
  }
}

// .container:first-child{
//   padding-top: 7rpx;
// }